<!DOCTYPE html>
<html>
<head>
	<title>Booking</title>
	<link rel="icon" href="images/fev1.png" sizes="16x16" type="image/png"
>	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css/bookingc.css">
		<style type="text/css">

		</style>
</head>
<body>
	<div class="introbar">
		<span style="padding-right: 20px;padding-left: 10px;">Resort Reservation</span>
		<ul>
			<li><a href="#">Hotels and Resorts</a></li>
			<li><a href="#"> My Reservations</a></li>
			<li><a href="#"> OFFERS</a></li>
		</ul>
		<div class="login"><a href="#">LOGIN</a></div>
	</div>
	<br>
	<div class="content">
		{% for i in hotels %}
			{% if i['hotel_id'] == hotel_id %}
				{% for j in i['room'] %}
					{% if j['room_id'] == room_id %}
				<div class="grid-container">
					<div class="item1">{{i['name']}}  Room-ID:{{room_id}}</div>
					<div class="item2">check_in</div>
					<div class="item3">check_out</div>  
					<div class="item4">{{i['info']}} and {{j['info']}}</div>
					
					<div class="item6">BOOKING : <br> price:{{j['price']}}</div>
				</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	 </div>
	<div class="loginprompt" style="padding: 10px;"><!--login prompt-->
		Already have an premium account? 
		<a href="LOGIN">LOGIN</a> 
	</div>
	<div class="form">
		<div style="background-color: blue;margin: 0px;padding: 0px;"> Guest Details :</div> 
		<form action="add.php" method="post">
		<br>
			<label for="fname">First Name*:</label>
		    	<input type="text" id="fname" name="firstname" placeholder="Your name..">
		    <label for="lname">Last Name*:</label>
		    	<input type="text" id="lname" name="lastname" placeholder="Your last name..">
		    <label for="email">E-Mail*:</label>
		    	<input type="email" id="email" name="email" placeholder="Your E-Mail Address">
		     <label for="email">Phone-Number*:</label>
		    	<input type="number" id="pno" name="pno" placeholder="Your Phone Number">
		    <label for="country">Country*:</label>
			    <select id="country" name="country">
			      <option value="australia">Australia</option>
			      <option value="canada">Canada</option>
			      <option value="usa">USA</option>
			    </select><br>
			<input type="checkbox" name="vehicle1" value="Bike"> I have read and understood the Privacy Policy. <br>
			<input type="checkbox" name="vehicle1" value="Bike"> I have read and agree to the Terms and Conditions.  <br>
		    <input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>